<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-searchbar (ionInput)="getItem($event)"></ion-searchbar>
    <ion-list>
    <ion-item *ngFor="let item of objs" (click)="itemTapped($event, item)">
      <ion-label>
        <h1>{{item.kdticket}}</h1>
        {{item.clientname}}
        <h2>Status : {{item.humanstatus}}</h2>
      </ion-label>
      <ion-select interface="popover" placeholder="Aksi">
        <ion-option value="troubleshoot" (ionSelect)="doAction($event)">Troubleshoot</ion-option>
        <ion-option value="futicket" (ionSelect)="doAction($event)">Follow Up Ticket</ion-option>
        <ion-option value="closeticket" (ionSelect)="doAction($event)">Tutup Ticket</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.clientname}}</b>
  </div>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
